{
  "presets": ["@babel/preset-react"],
  "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-proposal-object-rest-spread"],
  "env": {
    "cjs": {
      "presets": [["@babel/env"]]
    },
    "esm": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
